.CardCity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: auto;

}

.City {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    line-height: 0.7;
}

.NameCity {
    color: darkblue;
}

.NameCountry{
    color: darkgreen;
}

.Currency{
    color: darkblue;
}

.InterestPlaces{
    color: darkgreen;
}


/* .CityImg {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
} */


.CityImgWrapper {
    width: 50%;
    margin: 0 auto;
}

.CityImg {
    width: 60%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}



.ItemQty {
    margin-top: 20px;
}

.CostPass {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    color: darkred;
}

/*----------------------------------------*/

