nav {
    background-color: #65d47b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-top: -25px;
    top: 0;
    width: 100%;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}


.nav-menu h2 {
    font-size: 35px;
    margin: 0;
    padding-left: 7px;
    padding-right: 0px;
}

.nav-item {
    margin-left: 50px;

}

.nav-link {
    color: #343345;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: #1a25c4;
}

/*---------------------------------------------------*/

@media screen and (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-link {
        font-size: 18px;
        margin-left: 0;
    }

    .nav-menu h2 {
        font-size: 25px;
    }
}


/*---------------------------------------------------*/

.avion img {
    width: 50px;
    height: 30px;
}


/*---------------------------------------------------*/

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #74d89f;
    ;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li ul {
    display: none;
    position: absolute;
    min-width: 200px;
}

nav li:hover ul {
    display: block;
}

nav a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

nav ul ul {
    margin-left: 0;
}