.carousel {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.carousel-image {
    display: block;
    max-width: 100%;
    height: 300px;
    border-radius: 20px;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(110, 98, 150);
    border: none;
    font-size: 2rem;
    line-height: 1;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-button.prev {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.carousel-button.next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

h2 {
    color: indigo;
    transition: transform 0.3s ease;
}

h2:hover {
    transform: scale(1.2);
}